<div class="details">
  <div class="edit-area">
    <img src="/static/images/editPencil.svg" alt="edit pencil" />
  </div>
  <div class="details-card">
    <div class="title">

    </div>
    <div class="content">

    </div>
    <div class="update-info">

    </div>
  </div>
</div>