<div class="pagination">
    <img src="static/images/arrow.svg" alt="left arrow" class="left">
    <div class="indices">
        <span>1</span>
        <span>2</span>
        <span>3</span>
    </div>
    <img src="static/images/arrow.svg" alt="right arrow" class="right">
</div>