body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

form .form-group,
form button,
.content-group,
.title,
.list .card,
.header a.nav {
  font-weight: bold;
}

/* header */

.header {
  background-color: #4a148c;
  height: 50px;
}

.header img {
  margin-left: 12px;
  margin-top: 8px;
}

.header a {
  text-decoration: none;
}

.header a.nav {
  color: #fff;
  float: right;
  height: 20px;
  padding: 15px;
}

.header a:hover {
  background-color: #d1c4e9;
  color: #4a148c;
}

/* pagination */
.pagination {
  background-color: #d1c4e9;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

.pagination .left {
  margin: 9px auto;
  transform: rotate(180deg);
}

.pagination .right {
  margin: 9px auto;
  float: right;
}

.pagination .indices {
  height: 32px;
  margin-top: 9px;
}

.indices span {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #4a148c;
  color: #fff;
  text-align: center;
  margin: 6;
  padding: 1px;
  margin-right: 0;
  border-radius: 5px;
}

/* list section */
.list {
  list-style: none;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 6px;
  padding: 0 28px;
  margin-bottom: 66px;
  margin-top: 0;
}

.list.categories {
  margin-top: 30px;
}

.list a {
  text-decoration: none;
}

.list .card {
  height: 45px;
  background-color: #d1c4e9;
  color: #fff;
  line-height: 45px;
  font-size: 24px;
  text-align: center;
}

/* new word and details card */
.edit-area {
  margin: 12px 25px;
  width: 40px;
  height: 40px;
  float: right;
  background: #ffffff;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.edit-area img {
  margin: 2.5px auto;
  display: block;
}

.form,
.details-card {
  display: grid;
  grid-template-rows: 35px 490px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 40px 25px;
  padding-bottom: 10px;
}

.title {
  background-color: #d1c4e9;
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 35px;
  font-size: 24px;
}

/* new word form */
.form form {
  display: grid;
  grid-template-rows: repeat(6, 2fr) 1fr;
  grid-row-gap: 8px;
  padding: 10px 32px;
}

form button {
  background-color: #4a148c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  height: 40px;
}

.form-group input,
.form-group select {
  width: 100%;
  margin-top: 3px;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

/* word details */
.details-card {
  grid-template-rows: 35px 365px 50px;
  grid-row-gap: 25px;
  clear: right;
}

.content {
  display: grid;
  grid-auto-flow: row;
}

.content,
.update-info {
  padding: 0 20px;
}

.content-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  font-size: 18px;
}

.content-group .label,
.update-info {
  opacity: 0.5;
}

.update-info {
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
}

/* feedback */
.feedback {
  display: none;
  background-color: #ccc;
  height: 40px;
  margin: 20px;
  border-radius: 5px;
  color: #fff;
  padding: 20px;
}

.feedback.info {
  display: block;
  color: #000;
  background-color: #ccc;
}

.feedback.success {
  display: block;
  background-color: #1cd93c;
}

.feedback.danger {
  display: block;
  background-color: #ff2626;
}

/* search box */
.search {
  margin: 8px auto;
  padding: 1px 0;
}

.search form {
  display: grid;
  grid-auto-flow: column;
  margin: 0 28px;
}

.search form input {
  height: 30px;
  margin: 7.5px 0;
}

.search form button {
  height: 30px;
  margin: 7.5px 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (min-width: 425px) {
  .list {
    margin: 0 auto 66px auto;
  }

  .search,
  .list {
    width: 60%;
  }

  .search form {
    margin: 0;
  }
}
